.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.css-1sir9cm-MuiPaper-root {
    margin: 10px;
    border-radius: 12px;
  }

  .css-1sir9cm-MuiPaper-root{
    margin:0;
    padding: 0;
  }